.container{
	    width: 60%;
}
.Services{
  color:red;
 background: green;
  font-size: 35px;
}

.about{
  color:#a94442;
 background: #e7ff22;
  font-size: 35px;
}

.contact{
  color:#46b8da;
 background: #f2dede;
  font-size: 35px;
}